---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1002
      - TZ=Europe/Berlin
      - JELLYFIN_PublishedServerUrl=http://192.168.0.20 #optional
    volumes:
      - /appdata/docker/jellyfin:/config
      - /mnt/media/tvseries:/data/tvshows
      - /mnt/media/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped
